# dependencies
node_modules

# production
/build
/es
/lib
/.out/
dist/



# ENV ignore
.env
.env.local
.env.development
.env.production
local.json
development.json
production.json

# log
log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.compiled
.vscode

